<p>edit works!</p>
<label> RollNo To Be Edited</label>
<input #inp1>

<button (click)="edit(inp1.value)">Edit</button><br><br>

{{stdForm.value|json}}<br>
<form [formGroup]="stdForm">
    <table>
        <tr>
            <td><label>RollNo</label></td>
            <td><input formControlName="rollno"></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input formControlName="name"></td>
        </tr>
        <tr>
            <td><label>Age</label></td>
            <td><input formControlName="age"></td>
        </tr>
        <tr>
            <td><label>City</label></td>
            <td><input formControlName="city"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="button" (click)="update()">Update</button></td>
        </tr>
    </table>
</form>

